<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>OAuth2 Filter</filter-name>
        <filter-class>org.jboss.pressgang.belay.oauth2.resourceserver.filter.OAuth2RSFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>OAuth2 Filter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>oauth.rs.provider-class</param-name>
        <param-value>org.jboss.pressgang.belay.oauth2.resourceserver.filter.OAuth2RSProvider</param-value>
    </context-param>

    <filter>
        <filter-name>compression</filter-name>
        <filter-class>org.jboss.pressgang.ccms.restserver.servlet.filter.GZIPCompressionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>compression</filter-name>
        <url-pattern>/seam/resource/rest/*</url-pattern>
    </filter-mapping>
</web-app>