<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!--<filter>
        <filter-name>OAuth2 Filter</filter-name>
        <filter-class>org.jboss.pressgang.belay.oauth2.resourceserver.filter.OAuth2RSFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>OAuth2 Filter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>oauth.rs.provider-class</param-name>
        <param-value>org.jboss.pressgang.belay.oauth2.resourceserver.filter.OAuth2RSProvider</param-value>
    </context-param>-->

    <!-- Java Melody Parameters -->
    <context-param>
        <param-name>javamelody.datasources</param-name>
        <param-value>java:/PressGangCCMSDatasource</param-value>
    </context-param>

    <!-- Liquibase Parameters -->
    <context-param>
        <param-name>liquibase.changelog</param-name>
        <param-value>db/db.changelog.xml</param-value>
    </context-param>
    <context-param>
        <param-name>liquibase.datasource</param-name>
        <param-value>java:/PressGangCCMSDatasource</param-value>
    </context-param>
    <context-param>
        <param-name>liquibase.onerror.fail</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- Listeners -->
    <listener>
        <listener-class>liquibase.integration.servlet.LiquibaseServletListener</listener-class>
    </listener>

    <!-- WebDAV Interop filter for Microsoft clients -->
    <filter>
        <filter-name>InteropFilter</filter-name>
        <filter-class>net.java.dev.webdav.interop.WindowsRedirectorPatchResourceFilter</filter-class>
        <!--<init-param>
            <param-name>interop-xslt</param-name>
            <param-value>xml/prefix.xsl</param-value>
        </init-param>-->
    </filter>

    <filter-mapping>
        <filter-name>InteropFilter</filter-name>
        <url-pattern>/webdav/*</url-pattern>
    </filter-mapping>
</web-app>